In [1]:
# Lambda expression demo

In [2]:
def times_two(var):
    return var*2

In [3]:
times_two(9)

18

In [4]:
# if expression only intended for one-time use

In [5]:
lambda var: var*2

In [8]:
seq = list(range(1, 7))

In [9]:
print(seq)

[1, 2, 3, 4, 5, 6]

In [18]:
# using map function create map object
my_map_obj = map(times_two, seq)

In [15]:
list(my_map_obj)

[2, 4, 6, 8, 10, 12]

In [19]:
# using may function with lambda expression
my_map_obj2 = map(lambda var: var*3, seq)

In [17]:
list(my_map_obj2)

[3, 6, 9, 12, 15, 18]